
body{
	background-color: lightgray ;
}

#displayInfo h3{
	width: 100px
}
#redFlag{
	background-color: coral; 
}
/*.container .mx-5{

	background-color: coral; 

}*/

#displayInfo{

    background-color: #DAF7A6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 45%;
}

#create-passenger-form {

	border: 2px solid black ;
    border: 2px solid black;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container .mx5{
	/*text-align: center ;*/

}


#row1-create-passenger-form{
	display: flex;
    text-align: center;
    margin-top: 10px;
    justify-content: space-evenly;
}
#row2-create-passenger-form{
	display: flex;
    text-align: center;
    margin-top: 10px;
    justify-content: space-evenly;

}
#btn-save-passangerData{
	width: 70px;
    height: 20px;
}
.passenger-form input {
	width: 150px;
    border: 1px solid #eee;
	border-radius: 1px;
}

#search-passenger-form .col {

	border: 2px solid black
}
#row-search-passenger {
	margin-top: 10px;
	margin-bottom: 10px;
}

#row1-display-info {
	display: flex;
    justify-content: space-evenly;
}


#row2-display-info {
	display: flex;
    justify-content: space-evenly;
}


